
.main {
    --card-padding: 1em;

    padding: 6rem;
    min-height: 100vh;
}

.title {
    color: rgb(var(--background-card-rgb));
}

.title ~ p {
    color: rgb(var(--background-card-rgb));
    padding-bottom: 2em;
    max-width: 600px;
}


.info_card {
    position: fixed;
    z-index: 4;
    max-width: 600px;
}

.info_card p {
    padding: 1em 0;
}

.info_card a {
    color: dodgerblue;
    text-decoration: underline;
}

.info_card h3 {
    width: fit-content;
    padding: calc(var(--card-padding) / 2) var(--card-padding);
    transform: translateY(18%);

    background: rgb(var(--accent-colour-rgb));
    border-radius: var(--border-radius);
    cursor: move;
}
/* card contents' container */
.info_card div {
    padding: var(--card-padding);
    background: rgb(var(--background-card-rgb));
    box-shadow: 5px 5px rgb(var(--accent-colour-rgb));
    /*border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);*/
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }

    .card:hover span {
        transform: translateX(4px);
    }
}

/* Mobile */
@media (max-width: 700px) {
    .main {
        padding: 2em;
        font-size: small;
    }

    .info_card {
        position: static;
        width: 70%;
        margin: 1em auto;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
    }

    .info_card {
        position: static;
        width: 70%;
        margin: 1em auto;
    }
}

@media (prefers-color-scheme: dark) {
    .vercelLogo {
        filter: invert(1);
    }

    .logo,
    .thirteen img {
        filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
    }
}
